<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Welcome!</title>
</head>

<style>
    TABLE, TBODY, TR, TD, TH {
        text-align: left;
        padding: 0;
        border-spacing: 0;
    }

    BODY {
        background: darkslategray;
    }
</style>

<body>
<main class="main">
    <div>
        <h2>You are logged in to "Where have to lunch"!
            <br><br>
            Enjoy your lunch tonight, <a th:text="${email}"></a>
        </h2>
    </div>
    <br>
    Now, if you want, you can logout from your account by this button:

        <button><a href="/logout">Logout</a></button>

</main>
</body>
</html>
